<strong>Olá, {{ student }}</strong>
<p>
  Seja Bem Vindo(a)!, <br>
  Sua matrícula acaba de ser efetuada
</p>
<p>As informações de sua matrícula seguem abaixo: <br>
  <strong>Plano: </strong> {{ plan }} <br>
  <strong>Data de inicio: </strong> {{ start_date }} <br>
  <strong>Data de término: </strong> {{ end_date }} <br>
  <strong>Preço total: </strong>R$ {{ price }} <br>
</p>
